.navAll {
    background-color: #fff;
    position: fixed;
    z-index: 2;
    top: rem(1.87733*20);
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: rem(1.87733*20);
    padding-right: .8rem;
    &.up {
        animation: up .4s ease forwards;
        .popUp {
            visibility: visible;
        }
    }
    &.down {
        animation: down .4s ease forwards;
        .popUp {
            visibility: hidden;
        }
    }
}

.nav {
    display: flex;
    font-size: rem(.59733*20);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 rem(6);
    a {
        display: block;
        padding-top: rem(.256*20);
        padding-bottom: rem(.256*20);
        margin-left: rem(.59733*20);
        margin-right: rem(.59733*20);
        background-color: #fff;
        line-height: rem(1.28*20);
        text-align: center;
        width: rem(1.36533*20);
        color: #757575;
        p {
            border-bottom: rem(.08533*20) solid transparent;
        }
        &.bigTitle {
            margin: 0 rem(.29867*20);
            width: rem(1.96267*20);
        }
        &.active {
            color: #fb7299;
            p {
                border-color: #fb7299;
            }
        }
    }
}

.popDown {
    margin: auto;
    margin-bottom: rem(.27733*20);
    margin-top: rem(-.10667*20);
    width: rem(3.84*20);
    height: rem(.91733*20);
}

.popUp,
.popDown {
    svg {
        width: rem(.68267*20);
        height: rem(.91733*20);
        display: block;
        margin: 0 auto;
        fill: #aaa;
    }
}

.popUp {
    position: absolute;
    width: rem(1.38667*20);
    height: rem(1.87733*20);
    right: rem(.384*20);
    top: 0;
    svg {
        height: rem(1.87733*20);
    }
}

@keyframes down {
    0% {
        padding-right: .8rem;
        max-height: rem(1.87733*20);
    }
    10% {
        padding-right: 0rem;
    }
    100% {
        max-height: 10rem;
        padding-right: 0rem;
    }
}

@keyframes up {
    0% {
        padding-right: 0rem;
        max-height: 10rem;
    }
    10% {
        padding-right: .8rem;
    }
    100% {
        max-height: rem(1.87733*20);
        padding-right: .8rem;
    }
}