.header {
  height: 1.18125rem;
  padding: 0.17188rem 0.28125rem 0.17188rem 0.48656rem;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header .r {
    display: flex;
    align-items: center; }
    .header .r a {
      margin-left: 0.5625rem; }
  .header .logo img {
    width: 1.65312rem;
    margin-top: 0.03125rem; }
  .header .search svg {
    fill: #aaa;
    margin-top: 0.0625rem;
    width: 0.5625rem;
    height: 0.5625rem; }
  .header .userPic {
    width: 0.64rem;
    height: 0.64rem; }
    .header .userPic img {
      border-radius: 50%;
      width: 100%;
      height: 100%; }
  .header .downloadApp {
    font-size: 0.34375rem;
    width: 2.13833rem;
    height: 0.63833rem;
    line-height: 0.63833rem;
    color: #fff;
    background-color: #fb7299;
    border-radius: 6px;
    text-align: center; }
